body {
    border: 2px solid #000;
    font-family: 'Hind Madurai', Arial, sans-serif;
    margin: 0px;
    padding: 20px;
    overflow-x: hidden;
    background-color: #3f6455;
  }

  .page-container {
    border: 2px solid #000;
    padding: 20px;
  }
  
  header {
    /* position: fixed; */
    top: 0;
    left: 0;
    width: 100%;
    background-color: #3f6455;
    padding: 20px;
  }

  h1 {
    text-align: center;
  }

  .container {
    max-width: 1200px;
    display: block;
    /* margin: 0 auto;
    height: auto; */
    padding: 20px;
  }

  nav {
    text-align: center;
    text-emphasis-color: #095303;
  }

  nav img {
    position: static;    
    float: left;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  nav ul li {
    display: inline-block;
    margin-top: 15px;
    margin-right: 10px;
  }
  
  nav ul li a {
    text-decoration: none;
    color: #dbe796;
    padding: 5px 10px;
  }
  
  section {
    /* height: 100vh; */
    /* display: flex; */
    position: relative;
    float: center;
    align-items: center;
    justify-content: center;
    background-color: #3f6455;
  }

  div {
    /* width: 1000px;
    height: 750px; */
    margin-left: 0px;
    margin-right: 0px;
    position: absolute;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    top:0;
    /* bottom: 0; */
    left: 0;
    right: 0;    
    margin: auto;
}


section div div img{
    max-width: 100%;
    height: auto;
}


  /* Adjust spacing to account for the fixed header */
  section:not(:first-child) {
    margin-top: 100px;
  }

  /* Responsive Styles */
  @media (max-width: 768px) {
    header {
      padding: 10px;
    }

    nav ul li {
      display: block;
      margin-bottom: 10px;
    }
    
    section:not(:first-child) {
      margin-top: 60px;
    }
  }

  /* #home {
    div {
        display: block;
        width: 100%;
        img {
            width: 100%;
            height: auto;
        }
    }
  } */

